
/* Робоча зона - контейнер*/

/* Section - паддинги */

/* Header - flex */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 23px;
}

.header__nav-menu, .connection, .header__navigation {
    display: flex;
    align-items: center;
}
.header__nav-menu, .connection {
    column-gap: 52px;
   
}
.header__navigation {
    column-gap: 95px;
}

header {
    border-bottom: 1px solid var(--border-header) ;
}


.icon-header {
    margin-right: 10px;
    fill: currentColor;
}


/* Секція features- flex */
.features__features-menu {
    display: flex;
    justify-content: space-between;
}

/* Сітка features-card */

.features__features-card {
   width: calc((100% - 3 * 30px)/4);
 }

/* Портфоліо - flex */

.menu-nav-porfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.button-menu {
    margin-right: 8px;
}

.cards-portfolio:hover,
.cards-portfolio:focus {
    box-shadow: var(--portfolio-shadow);
}
.cards-portfolio {
    display: block;
    transition: box-shadow var(--time-bezier);
}


/* Сітка списку в портфоліо */ 

.menu-service {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc( -1 * var(--card-distance));
    margin-left: calc( -1 * var(--card-distance));
}
.menu-service > .picture-portfolio {
    flex-basis: calc(100%/3 - var(--card-distance));
    margin-left: var(--card-distance);
    margin-top: var(--card-distance);
}

 
.picture-portfolio {
    text-align: left;
    padding-bottom: 0px;
}


.cards-portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overlay-cards);
    color: var(--main-page);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 0 24px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--time-bezier);
}


.cards-portfolio:hover .overlay,
.cards-portfolio:focus .overlay {
    transform: translateY(0);
}


.menu-description {
    border-left: 1px solid var(--border-portfolio);
    border-bottom: 1px solid var(--border-portfolio);
    border-right: 1px solid var(--border-portfolio);
    padding: 20px 24px;
}




/* =====Сторінка - Студія =====*/
/* Основні стилі - body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-page);
    color: var(--text-main);
}
ul {
    list-style: none;
}

/* Logo - WebStudio */
.logo-studio{
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.24;
}
.logo-studio__first-title {
    color: var(--text-items);
}
.logo-studio__second-title {
    color: var(--text-page);
}
.logo-studio__third-title {
    color: var(--main-page);
}

.connection__contact, .header__item, .logo-studio, .cards-portfolio {
    text-decoration: none;
}

/* Кнопки навыгації*/

.connection__contact {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--text-contacts);
    transition: color var(--time-bezier);
}

.header__item {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--text-main);
    transition: color var(--time-bezier);
}

.header__item:hover,
.header__item:focus,
.connection__contact:hover,
.connection__contact:focus {
    color: var(--text-items);
    fill: var(--text-items);
}

.header__item {
    position: relative;
}
.current::after {
    content: "";
    position: absolute;
    bottom:-31px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--text-items);
    border-radius: 2px;
}
.header__item.current {
    color: var(--text-items);
}



/* Секція - hero */

.hero {
    padding: 200px 0;
    width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero.jpg);
}

.hero__title {
    color: var(--main-page);
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
}


.hero__button {
    margin-top: 30px;
    padding: 10px 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.88;
    font-weight: 700;
    background-color: var(--text-items);
    color: var(--main-page) ;
    border: var(--text-items);
    letter-spacing: 0.06em;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: color var(--time-bezier), background-color var(--time-bezier) ;
}

.hero__button:hover,
.hero__button:focus {
    color: var(--main-page);
    background-color: var(--bcg-btn-hero);
}

/* Секція - опис */
.features__description {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.features__transcript {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-contacts);
}
.features__advantage {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 120px;
    border-radius: 4px;
    background-color: var(--bcg-button);
    margin-bottom: 30px;
}


/* Секція work + flex */

.work__menu-foto {
    display: flex;
    justify-content: space-between;
}

.work__foto-work {
    position: relative;
    width: calc((100% - 2 * 30px)/3);
}

.work__title, .team__title, .regular-customers__title {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}
.work {
    padding-top: 0;
}


.work__text-applcations {
    position: absolute;
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main-page);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.work__applications {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--strip-applications);
}


/* Секція team + flex */

.team {
    background-color: var(--bcg-button);
}

.team__menu {
    display: flex;
    justify-content: space-between;
}

.team__foto {
    text-align: center;
    background-color: var(--main-page);
    border-radius: 0 0 4px 4px;
    box-shadow: var(--card-shadow);
    width: calc((100% - 3 * 30px)/4);
}

.team__members {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__employee {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.team__direction {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-contacts);
    margin-bottom: 16px;
}

.socila-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social-list__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-social);
}

.social-list__icon {
    transition: fill var(--time-bezier);
}

.social-list__link:hover,
.social-list__link:focus {
    background-color: var(--text-items);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
    fill: var(--main-page);
}


.social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--main-page);
    transition: background-color var(--time-bezier);
}



/* Секція - Постійні кліенти */

.regular-customers__logo {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.regular-customers__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border-radius: 4px;
    border:1px solid var(--icon-social);
    background-color: var(--main-page);
    transition: border var(--time-bezier);
}
.regular-customers__icon-logo {
    width: 106px;
    height: 60px;
    fill: var(--icon-social);
    transition: fill var(--time-bezier);
}
.regular-customers__link:hover,
.regular-customers__link:focus {
    border: 1px solid var(--text-items);
}
.regular-customers__link:hover .regular-customers__icon-logo, 
.regular-customers__link:focus .regular-customers__icon-logo {
    fill: var(--text-items);
}

 .regular-customers__icon-clients {
    width: calc((100% - 5 * 30px)/6);
 }


/* Footer */

.footer-contacts {
    margin-top: 20px;
}
.footer {
    background-color: var(--element-hero);
    padding: 60px 0 60px 0;
}

.adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: var(--main-page);
}


.connection__contact_direct {
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: var(--main-opacity);
}


.footer-connection__contact:not(:last-child) {
    margin-bottom: 9px;
}
.footer-social-join {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.24;
    text-transform: uppercase;
    color:var(--main-page);
    letter-spacing: 3%;
    display: inline-block;
    margin-bottom: 20px;
    
}

.social-list-footer {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding-bottom: 30px;
 }

.footer-nav, .footer-social {
    display: inline-block;
}
.footer-general {
    display: flex;
    
}
.footer-social {
    margin-left: 70px;
    margin-top: 12px;
}

.icon-footer {
    fill: var(--main-page);
}
.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--main-opacity-two);
    transition: background-color var(--time-bezier);
}
.social-link-footer:hover,
.social-link-footer:focus {
    background-color: var(--text-items)
}



/* Скриваємо заголовки */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
  
/* ====== Сторінка - Портфоліо =====*/

/* Стилі кнопок портфоліо*/
.list-button:hover,
.list-button:focus {
    color: var(--main-page) ;
    background-color: var(--text-items);
    box-shadow: var(--shadow-button);
}
.list-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--text-main);
    background-color: var(--bcg-button);
    border: var(--bcg-button);
    border-radius: 4px;
    padding: 6px 22px;
    transition: color var(--time-bezier), background-color var(--time-bezier), box-shadow var(--time-bezier);
}

.list-button.active {
    background-color: var(--text-items);
    color: #FFFFFF;
    box-shadow: var(--shadow-button)
}

.first {
    padding: 6px 25px;
}
.menu-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-main);
}
.service-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-contacts);
    margin-top: 4px;
}

/* Modal Window */

.backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-backround);
    transition: opacity var(--time-bezier), visibility var(--time-bezier);
}



.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    width: 528px;
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: var(--main-page);
    box-shadow: var(--shadow-modal-window)
}
.modal-close-icon {
    fill: var(--text-page);
}

.modal-close-icon:hover {
    fill: var(--text-items);
}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--main-page);
    border: 1px solid var(--modal-close);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

/*  ======== Form =======*/
.modal-feedback {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        color: var(--text-main);
        margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form-input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid var(--border-modal);
    padding-left: 42px;
    transition: border-color var(--time-bezier);
}
.modal-form-text-above {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: var(--text-contacts);
    margin-bottom: 4px;
}

.modal-form-message {
    width: 100%;
    height: 120px;
    font-size: 12px;
    resize: none;
    border-radius: 4px;
    border: 1px solid var(--border-modal);
    padding: 12px 16px;
    transition: border-color var(--time-bezier);
}
.modal-form-message:focus {
    outline: none;
    border-color: var(--text-items);
}
.modal-form-message::placeholder {
    font-size: 12px;
    line-height: 1.17;
    color: var(--text-placeholder);
}



.modal-form-field {
    margin-bottom: 10px;
}

.modal-form-icon {
    position: relative;
    display: block;
}
.icon-modal {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--text-main);
    transition: fill var(--time-bezier) ;
}

.modal-form-input:focus + .icon-modal {
    fill: var(--text-items);
}
.modal-form-input:focus {
    border-color: var(--text-items);
    outline: none;
}

.modal-form-icon-check {
    width: 16px;
    height: 15px;
    border: 2px solid var(--text-main);
    border-radius: 2px;
    background-color: var(--main-page); 
    cursor: pointer;
    margin-right: 7px;
}

.modal-form-check {
    position: absolute;
    appearance: none;
    text-decoration-color: #188CE8;
}

.modal-form-agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.modal-form-icon-policy {
    display: none;
    fill: var(--main-page);
}
.modal-form-check:checked + .modal-form-icon-check {
    background-color: var(--text-items);
    border: none;
}
.modal-form-check:checked + .modal-form-icon-check .modal-form-icon-policy {
    display: block;
}
.modal-form-check:focus + .modal-form-icon-check {
    box-shadow: 0 0 0 1px var(--text-items);
}
.modal-text-policy {
    font-size: 14px;
    line-height: 1.7;
    text-decoration:underline;
    color: var(--text-items);
}
.modal-text-policy:hover {
    text-decoration: none;
}


.modal-text-policy-first {
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
    color: var(--text-contacts);
}

.modal-form-submit {
    cursor: pointer;
    margin: auto;
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.88;
    font-weight: 700;
    background-color: var(--text-items);
    color: var(--main-page);
    border: var(--text-items);
    letter-spacing: 0.06em;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: color var(--time-bezier), background-color var(--time-bezier);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
    color: var(--main-page);
    background-color: var(--bcg-btn-hero);
}




/* ====== Footer-form ======*/

.footer-form {
    margin-top: 12px;
    margin-left: auto;
}

.footer-form-subscribe {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-page);
    margin-bottom: 20px;
}
.footer-mail-subscribe {
    margin-right: 12px;
}
.user-mail-input {
    width: 358px;
    height: 50px;
    color: var(--main-page);
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--element-hero);
}
.user-mail-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--main-opacity);
    margin-left: 16px;
}

.footer-form-sending {
    margin: auto;
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.88;
    font-weight: 700;
    background-color: var(--text-items);
    color: var(--main-page);
    border: var(--text-items);
    letter-spacing: 0.06em;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: color var(--time-bezier), background-color var(--time-bezier);
}

.footer-form-sending:hover,
.footer-form-sending:focus {
    color: var(--main-page);
    background-color: var(--bcg-btn-hero);
}


.icon-send-plane {
    display: inline-block;
    vertical-align: middle;
    fill: var(--main-page);
}

    